snippet service
<service id="${1:id}" class="${2:class}">
    ${3}
</service>
endsnippet

snippet tag
<tag name="${1:name}" />
endsnippet

snippet arg
<argument type="${1:service}" id="${2:id}" />
endsnippet
