[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pedro/Bureau/LayOut 2015.desktop]
row=4
col=0

[/home/pedro/Bureau/Style Builder 2015.lnk]
row=2
col=0

[/home/pedro/Bureau/LayOut 2015.lnk]
row=1
col=0

[/home/pedro/Bureau/Style Builder 2015.desktop]
row=5
col=0

[/home/pedro/Bureau/SketchUp 2015.lnk]
row=0
col=0

[/home/pedro/Bureau/SketchUp 2015.desktop]
row=3
col=0

