snippet ccom
/**
 * ${1:`!v Filename('', 'myClass')`}
 *
 * ${2:@abstract}
 * @author KnpLabs <hello@knplabs.com>
 */
endsnippet

snippet fcom
/**
 * @param ${2:string} $${3:name}
 *
 * @return ${4:string}
 */
endsnippet

snippet vcom
/**
 * @var ${2:string}
 */
endsnippet
