snippet if
if (${1}) {
    ${2}
}
endsnippet

snippet for
for (${1}) {
    ${2}
}
endsnippet

snippet foreach
foreach (${1} as ${2}) {
    ${3}
}
endsnippet

snippet do
do {
    ${1}
} while(${2});
endsnippet
