snippet sg
public function get${2/\w+\s*/\u$0/}()
{
    return $this->${2};
}

public function set${2/\w+\s*/\u$0/}($$2)
{
    $this->$2 = $$2;
}
endsnippet

snippet gt
public function get${2/\w+\s*/\u$0/}()
{
    return $this->${2};
}
endsnippet

snippet st
public function set${2/\w+\s*/\u$0/}($$2)
{
    $this->${2} = $$2;
}
endsnippet
